{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="en">
        <meta name=”robot” content=”noindex, nofollow”>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">

        <title>{% block title %}| Recolecta{% endblock %}</title>

        <link rel="icon" type="image/png" href="/static/favicon.ico">

        {% block metatags %}{% endblock %}

        {% block preloads %}{% endblock %}
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" crossorigin>

        {% block head %}{% endblock %}
    </head>

    <body class="{{body_classes}}">
        <div class="body-container">

            {% block outer %}
                {% block navbar %}
                    {% include 'core/navigation.html' %}
                {% endblock %}

                <main>
                    {% block inner %}
                    {% endblock inner %}
                </main>

                {% block footer %}
                    {% include 'core/footer.html' %}
                {% endblock %}
            {% endblock %}

        </div>

        {% block tail %}
        {% endblock %}
    </body>
</html>
