{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="en">
        <meta name=”robot” content=”noindex, nofollow”>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#ffffff">

        <title>{% block title %}| Recolecta{% endblock %}</title>

        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

        {% block metatags %}{% endblock %}

        <link rel="preload" as="style" href="{% static 'vendor/bootstrap-4.3.1/css/bootstrap.min.css' %}" crossorigin>
        <link rel="preload" as="style" href="{% static 'vendor/font-awesome-5.9.0/all.min.css' %}" crossorigin>
        <link rel="preload" as="style" href="{% static 'base.css' GIT_SHA %}" crossorigin>
        
        <link rel="preload" as="script" href="{% static 'vendor/jquery-3.4.1/jquery.min.js' %}" crossorigin>
        <link rel="preload" as="script" href="{% static 'vendor/popper-1.14.3/popper.min.js' %}" crossorigin>
        <link rel="preload" as="script" href="{% static 'vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}" crossorigin>

        {% block preloads %}{% endblock %}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css" crossorigin>
        <link rel="stylesheet" href="{% static 'vendor/font-awesome-5.9.0/all.min.css' %}" type="text/css" crossorigin>
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" crossorigin>

        <script src="{% static 'vendor/jquery-3.4.1/jquery.min.js' %}" type="text/javascript" crossorigin></script>
        <script src="{% static 'vendor/popper-1.14.3/popper.min.js' %}" type="text/javascript" crossorigin></script>
        <script src="{% static 'vendor/bootstrap-4.3.1/js/bootstrap.min.js' %}" type="text/javascript" crossorigin></script>

        {% block head %}{% endblock %}
    </head>

    <body class="{{body_classes}}">
        <div class="body-container">

            {% block outer %}
                {% block navbar %}
                    {% include 'core/navigation.html' %}
                {% endblock %}

                <main>
                    {% block inner %}
                    {% endblock inner %}
                </main>

                {% block footer %}
                    {% include 'core/footer.html' %}
                {% endblock %}
            {% endblock %}

        </div>

        {% block tail %}
        {% endblock %}
    </body>
</html>
