{% extends "core/base.html" %}

{% load bootstrap4 %}

{% block inner %}
    <div class="container text-center py-3">
        <div class="card main-form-card">
        	<center><h2 class="main-form-title">Recolecta</h2></center>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <button type="submit" class="btn btn-success">Enviar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock inner %}
